/* css styles */



@media all and (min-width:409px) {
.quarto-title-block .quarto-title-banner {
  background-image: url(images/opi_logo.png);
  background-size: 200px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-origin: content-box;
}
}

